/* Define keyframes for the floating effect */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Base styles for all bubbles */
.bubble {
    background: rgba(135, 206, 235, 0.7); /* Soft blue color for better visibility */
    border-radius: 50%;
    position: absolute;
    bottom: 0; /* Start from bottom of the screen */
    animation: float 5s ease-in-out infinite;
}

/* Custom properties for different sizes of bubbles */
:root {
    --bubble-size-small: 20px;
    --bubble-size-medium: 40px;
    --bubble-size-large: 60px;
    --bubble-animation-duration-short: 4s;
    --bubble-animation-duration-medium: 5s;
    --bubble-animation-duration-long: 7s;
}

/* Styles for small bubbles */
.bubble-small {
    width: var(--bubble-size-small);
    height: var(--bubble-size-small);
    animation-duration: var(--bubble-animation-duration-short);
}

/* Styles for medium bubbles */
.bubble-medium {
    width: var(--bubble-size-medium);
    height: var(--bubble-size-medium);
    animation-duration: var(--bubble-animation-duration-medium);
}

/* Styles for large bubbles */
.bubble-large {
    width: var(--bubble-size-large);
    height: var(--bubble-size-large);
    animation-duration: var(--bubble-animation-duration-long);
}

/* Specific styles for individual bubbles */
.bubble:nth-child(1) { left: 5%; }
.bubble:nth-child(2) { left: 20%; animation-delay: 1s; }
.bubble:nth-child(3) { left: 35%; animation-delay: 2s; }
.bubble:nth-child(4) { left: 50%; animation-delay: 3s; }
.bubble:nth-child(5) { left: 65%; animation-delay: 4s; }
.bubble:nth-child(6) { left: 80%; animation-delay: 5s; }

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Sets the animation behind all other content */
    overflow: hidden;
}
